<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="description" content="Etudiant en Master Science du Logiciel à l'universté Paul Sabatier">
    <link rel="stylesheet" href="./output.css">
    <link rel="stylesheet" href="./sal/sal.css">
    <link rel="manifest" href="./manifest.json">
    <title>Billy Ronico</title>
</head>
<body>

<div id="app" class="overflow-x-hidden">

    <div class="w-full desktop:w-lg transform desktop:translate-x-[300px]">

        <section id="acceuil" class="w-full desktop:w-lg h-screen relative flex flex-col justify-center items-center"
                 data-sal="zoom-out" data-sal-duration="500">
            <div class="absolute top-0 left-0 bg-acceuil bg-cover bg-center brightness-50 w-full h-full">

            </div>

            <div class="relative text-white z-10" data-sal="fade" data-sal-duration="300" data-sal-delay="800">
                <h1 class="font-2 text-[44px] md:text-[56px] lg:text-[64px] tracking-wide" id="h1-acceuil">Billy
                    Ronico</h1>
                <h2 class="text-[18px] md:text-[24px] lg:text-[32px] tracking-widest">I'm
                    <span class="border-b-4 pb-2 border-bleu-clair" id="span-affiche-acceuil">{{ textInteractive}}
                    </span>
                    <span class="border-b-4 pb-2 border-bleu-clair" :class="{'animation-pipe': animerPipe}"
                          id="pipe">|</span>
                </h2>
            </div>

        </section>
        <section id="a-propos" class="px-4 container mx-auto">
            <h2 class="titre-1 mt-8">
                <span class="pb-4 border-b-4 border-bleu-clair">A pro</span>
                <span class="pb-4">pos</span>
            </h2>
            <p class="mt-8">
                Étudiant en master d'informatique à l'Université Paul Sabatier de Toulouse, ayant un profil de
                développeur Full Stack.
                Passionné d'informatique et ayant fait beaucoup de projet dans le cadre des études mais aussi
                personnels, je suis polyvalent et maîtrise les diverses étapes de la création d'un
                site ou d'une application web ou mobile. De la compréhension des besoins des utilisateurs, au
                développement frontend et backend en passant par la maintenance tout en appliquant une méthode AGILE
                SCRUM.
            </p>

            <div class="lg:flex lg:gap-x-8 lg:mt-12">

                <img src="./images/pdp.jpg" alt="pdp" class="block lg:my-6 my-8 w-[500px] lg:h-[350px] lg:w-[350px]"
                     data-sal="slide-right" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="400">

                <div class="lg:px-4" data-sal="slide-left" data-sal-easing="ease-out" data-sal-duration="600">

                    <h3 class="titre-1">Etudiant en Master Science Du Logiciel (SDL)</h3>

                    <p class="my-4">
                        Le Master <a href="https://www.master-developpement-logiciel.fr/" class="underline">SDL de
                        l'UPS</a> à Toulouse traite tout ce qui concerne la réalisation d'un produit
                        logiciel, son déploiement et sa maintenance.
                    </p>

                    <div class="lg:flex lg:justify-between">

                        <ul class="flex flex-col gap-y-3">
                            <li>
                                <i class="fas fa-angle-right pr-2 text-bleu-clair"></i>
                                <span class="font-bold mr-1">Date de naissance: </span>
                                <span>04 Octobre 2000</span>
                            </li>
                            <li>
                                <i class="fas fa-angle-right pr-2 text-bleu-clair"></i>
                                <span class="font-bold mr-1">Pays: </span>
                                <span>France</span>
                            </li>
                            <li>
                                <i class="fas fa-angle-right pr-2 text-bleu-clair"></i>
                                <span class="font-bold mr-1">Site Web: </span>
                                <span>billyronico412.github.io</span>
                            </li>
                        </ul>

                        <ul class="flex flex-col gap-y-3 mt-3.5 lg:mt-0">
                            <li>
                                <i class="fas fa-angle-right pr-2 text-bleu-clair"></i>
                                <span class="font-bold mr-1">Telephone: </span>
                                <span>06 75 77 07 55</span>
                            </li>
                            <li>
                                <i class="fas fa-angle-right pr-2 text-bleu-clair"></i>
                                <span class="font-bold mr-1">Ville: </span>
                                <span>Toulouse</span>
                            </li>
                            <li>
                                <i class="fas fa-angle-right pr-2 text-bleu-clair"></i>
                                <span class="font-bold mr-1">Mail: </span>
                                <span>billyronico412@gmail.com</span>
                            </li>
                        </ul>

                    </div>

                    <p class="my-4">
                        Le Master SDL forme des experts dans le domaine de l’ingénierie du logiciel, en particulier en
                        prenant
                        en considération leur plateforme de déploiement et leur criticité. Outre une formation
                        académique de
                        haut niveau qui donne de solides fondements théoriques, le cursus est fortement
                        professionnalisant :
                        alternance entre enseignements à l’université et travail en entreprise ou en laboratoire, dans
                        le cadre
                        d’un contrat de professionnalisation, d’un contrat d’apprentissage ou d’une convention de stage
                        (suivi
                        par un enseignant), conduite d’un projet de type «bureau d’études», participation de
                        professionnels à la
                        formation (cours, TD, TP, conférences).
                    </p>

                </div>

            </div>

        </section>

        <section id="competences" class="px-4 container mx-auto">

            <h2 class="titre-1 mt-8">
                <span class="pb-4 border-b-4 border-bleu-clair">Compét</span>
                <span class="pb-4">ence</span>
            </h2>

            <div data-sal="zoom-in" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="0">
                <div class="sm:flex">
                    <ul class="flex font-bold text-[#0008] font-3 mt-8">
                        <li class="w-full sm:w-auto">
                            <button class="px-6 py-2 hover:bg-[#00000008] transition-colors duration-200 sm:inline block w-full sm:w-auto"
                                    :class="{'bg-bleu-clair-section hover:bg-bleu-clair-section text-black': idCompetence === 0}"
                                    @click="idCompetence = 0">
                                <span class="hidden sm:inline">Front End</span>
                                <i class="fab fa-html5 text-2xl sm:hidden"></i>
                            </button>
                        </li>
                        <li class="w-full sm:w-auto">
                            <button class="px-6 py-2 hover:bg-[#00000008] transition-colors duration-200 sm:inline block w-full sm:w-auto"
                                    :class="{'bg-bleu-clair-section hover:bg-bleu-clair-section text-black': idCompetence === 1}"
                                    @click="idCompetence = 1">
                                <span class="hidden sm:inline">Back end</span>
                                <i class="fab fa-node-js text-2xl sm:hidden"></i>
                            </button>
                        </li>
                        <li class="w-full sm:w-auto">
                            <button class="px-6 py-2 hover:bg-[#00000008] transition-colors duration-200 sm:inline block w-full sm:w-auto"
                                    :class="{'bg-bleu-clair-section hover:bg-bleu-clair-section text-black': idCompetence === 2}"
                                    @click="idCompetence = 2">
                                <span class="hidden sm:inline">Mobile</span>
                                <i class="fas fa-mobile text-2xl sm:hidden"></i>
                            </button>
                        </li>
                        <li class="w-full sm:w-auto">
                            <button class="px-6 py-2 hover:bg-[#00000008] transition-colors duration-200 sm:inline block w-full sm:w-auto"
                                    :class="{'bg-bleu-clair-section hover:bg-bleu-clair-section text-black': idCompetence === 3}"
                                    @click="idCompetence = 3">
                                <span class="hidden sm:inline">Autres</span>
                                <i class="fab fa-git-alt text-2xl sm:hidden"></i>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="py-8 bg-bleu-clair-section">

                    <transition name="transition-competence" mode="out-in">

                        <div class="lg:flex lg:h-64" v-if="idCompetence === 0">
                            <div class="lg:w-2/5 flex justify-center items-center">
                                <img src="images/front-end.png" alt="front end image" class="block mx-auto w-96">
                            </div>
                            <div class="flex flex-col gap-y-6 lg:gap-y-0 lg:items-center lg:flex-row lg:flex-wrap lg:justify-around px-4 lg:w-full mt-8 lg:mt-0">
                                <barre-progression progress="90" text="HTML & CSS"></barre-progression>
                                <barre-progression progress="85" text="React"></barre-progression>
                                <barre-progression progress="65" text="Nuxt"></barre-progression>
                                <barre-progression progress="65" text="SASS"></barre-progression>
                                <barre-progression progress="75" text="VueJS"></barre-progression>
                                <barre-progression progress="85" text="Tailwind"></barre-progression>
                            </div>
                        </div>

                        <div class="lg:flex lg:h-64" v-else-if="idCompetence === 1">
                            <div class="lg:w-2/5 flex justify-center items-center">
                                <img src="images/back-end.png" alt="back end image" class="block mx-auto w-72">
                            </div>
                            <div class="flex flex-col gap-y-6 lg:gap-y-0 lg:items-center lg:flex-row lg:flex-wrap lg:justify-around px-4 lg:w-full">
                                <barre-progression progress="90" text="NodeJS"></barre-progression>
                                <barre-progression progress="45" text="Django"></barre-progression>
                                <barre-progression progress="40" text="Spring Boot"></barre-progression>
                                <barre-progression progress="40" text="PHP"></barre-progression>
                                <barre-progression progress="90" text="API Rest"></barre-progression>
                                <barre-progression progress="65" text="API GraphQL"></barre-progression>
                            </div>
                        </div>

                        <div class="lg:flex lg:h-64" v-else-if="idCompetence === 2">
                            <div class="lg:w-2/5 flex justify-center items-center">
                                <img src="images/mobile.png" alt="mobile image" class="block mx-auto">
                            </div>
                            <div class="flex flex-col gap-y-6 lg:gap-y-0 lg:items-center lg:flex-row lg:flex-wrap lg:justify-around px-4 lg:w-full">
                                <barre-progression progress="75" text="Kotlin"></barre-progression>
                                <barre-progression progress="70" text="Java"></barre-progression>
                                <barre-progression progress="55" text="Flutter"></barre-progression>
                                <barre-progression progress="65" text="React Native"></barre-progression>
                            </div>
                        </div>

                        <div class="lg:flex lg:h-64" v-else>
                            <div class="lg:w-2/5 flex justify-center items-center">
                                <img src="images/autres.png" alt="mobile image" class="block mx-auto w-64">
                            </div>
                            <div class="flex flex-col gap-y-6 lg:gap-y-0 lg:items-center lg:flex-row lg:flex-wrap lg:justify-around px-4 lg:w-full">
                                <barre-progression progress="80" text="Git & GitHub"></barre-progression>
                                <barre-progression progress="35" text="Docker"></barre-progression>
                                <barre-progression progress="65" text="C / C++"></barre-progression>
                                <barre-progression progress="70" text="SCRUM"></barre-progression>
                                <barre-progression progress="45" text="Test Unitaire"></barre-progression>
                                <barre-progression progress="80" text="JSON / XML"></barre-progression>
                            </div>
                        </div>

                    </transition>

                </div>
            </div>

        </section>

        <section id="portfolio" class="px-4 container mx-auto">

            <h2 class="titre-1 mt-8">
                <span class="pb-4 border-b-4 border-bleu-clair">Portf</span>
                <span class="pb-4">olio</span>
            </h2>

            <div class="pt-16 grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 justify-items-center gap-y-8">

                <projet
                        data-sal="fade" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="0"
                        name="REST Countries API"
                        :icons="['tailwind', 'vue', 'api']"
                        image="./30-jours-code/24-refactor-countries/design/desktop-preview.jpg"
                        link-view="https://billyronico412.github.io/30-jours-code/24-refactor-countries/dist/"
                        link-github="https://github.com/BillyRonico412/billyronico412.github.io/tree/master/30-jours-code/24-refactor-countries"
                >
                </projet>

                <projet
                        data-sal="fade" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="50"
                        name="Calculatrice"
                        :icons="['html', 'css', 'ts']"
                        image="./30-jours-code/1-Calculatrice/desktop-preview.jpg"
                        link-view="https://billyronico412.github.io/30-jours-code/1-Calculatrice/"
                        link-github="https://github.com/BillyRonico412/billyronico412.github.io/tree/master/30-jours-code/1-Calculatrice"
                >
                </projet>

                <projet
                        data-sal="fade" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="100"
                        name="DashBoard Social Media"
                        :icons="['html', 'css', 'tailwind']"
                        image="./30-jours-code/14-social-media-dashboard/design/desktop-preview.jpg"
                        link-view="https://billyronico412.github.io/30-jours-code/14-social-media-dashboard/"
                        link-github="https://github.com/BillyRonico412/billyronico412.github.io/tree/master/30-jours-code/14-social-media-dashboard"
                >
                </projet>

                <projet
                        data-sal="fade" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="0"
                        name="Démineur"
                        :icons="['react', 'tailwind', 'ts']"
                        image="./images/demineur.png"
                        link-view=" https://billyronico412.github.io/smartteam-demineur-react/"
                        link-github="https://github.com/BillyRonico412/smartteam-demineur-react"
                >
                </projet>
                <projet
                        data-sal="fade" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="50"
                        name="Clipboard Landing Page"
                        :icons="['html', 'css', 'tailwind']"
                        image="./30-jours-code/18-clipboard-landing-page/design/desktop-preview.jpg"
                        link-view="https://billyronico412.github.io/30-jours-code/18-clipboard-landing-page"
                        link-github="https://github.com/BillyRonico412/billyronico412.github.io/tree/master/30-jours-code/18-clipboard-landing-page"
                >
                </projet>
                <projet
                        data-sal="fade" data-sal-easing="ease-out" data-sal-duration="600" data-sal-delay="0"
                        name="REST Countries API"
                        :icons="['tailwind', 'react', 'api', 'ts']"
                        image="./30-jours-code/24-refactor-countries/design/desktop-preview.jpg"
                        link-view="https://billyronico412.github.io/rest-countries-react/"
                        link-github="https://github.com/BillyRonico412/rest-countries-react"
                >
                </projet>

            </div>

        </section>

        <section id="contact" class="px-4 container mx-auto">

            <h2 class="titre-1 mt-8">
                <span class="pb-4 border-b-4 border-bleu-clair">Cont</span>
                <span class="pb-4">act</span>
            </h2>

            <div class="mt-16 flex flex-col gap-y-12 lg:flex-row lg:gap-x-8">

                <div id="contact-adresse" class="ombre px-6 py-6 lg:w-2/5 lg:flex lg:flex-col lg:justify-around"
                     data-sal="zoom-in" data-sal-duration="600" data-sal-delay="600">
                    <ul class="flex flex-col gap-y-6">
                        <li class="flex gap-x-4">
                            <i class="fas fa-map-marker-alt block w-11 h-11 bg-bleu-transparent flex justify-center items-center rounded-full text-xl text-bleu-clair"></i>
                            <div class="flex flex-col gap-y-1">
                                <h4 class="font-2 text-lg tracking-wide">Adresse Postal:</h4>
                                <h5 class="text-sm tracking-wide text-bleu-fonce">15 Avenue Colonel Roche, 31400,
                                    Toulouse</h5>
                            </div>
                        </li>
                        <li class="flex gap-x-4">
                            <i class="fas fa-envelope block w-11 h-11 bg-bleu-transparent flex justify-center items-center rounded-full text-xl text-bleu-clair"></i>
                            <div class="flex flex-col gap-y-1">
                                <h4 class="font-2 text-lg tracking-wide">Adresse Email:</h4>
                                <a class="text-sm tracking-wide text-bleu-fonce" href="mailto:billyronico412@gmail.com">billyronico412@gmail.com</a>
                            </div>
                        </li>
                        <li class="flex gap-x-4">
                            <i class="fas fa-phone-alt block w-11 h-11 bg-bleu-transparent flex justify-center items-center rounded-full text-xl text-bleu-clair"></i>
                            <div class="flex flex-col gap-y-1">
                                <h4 class="font-2 text-lg tracking-wide">Telephone Portable:</h4>
                                <a class="text-sm tracking-wide text-bleu-fonce" href="tel:0675770755">0675770755</a>
                            </div>
                        </li>
                    </ul>
                    <div class="mt-12 lg:mt-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.1403471560443!2d1.467751216316061!3d43.56195857912462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc3b219e54c9%3A0xbfa01c91f63e6468!2sUniversit%C3%A9%20Toulouse%20III%20-%20Paul%20Sabatier!5e0!3m2!1sfr!2sfr!4v1638299827718!5m2!1sfr!2sfr"
                                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div id="contact-form" class="lg:w-3/5 ombre px-6 py-6 lg:py-12" data-sal="zoom-out"
                     data-sal-duration="600" data-sal-delay="200">
                    <form action="#" class="flex flex-col gap-y-8">
                        <div class="flex flex-col gap-y-8 lg:flex-row lg:gap-x-4 lg:w-full">
                            <div class="form-group w-full">
                                <label>
                                    <h5 class="tracking-wide text-[#000c] mb-1.5">Votre Nom</h5>
                                    <input type="text" placeholder="Billy Ronico">
                                </label>
                            </div>
                            <div class="form-group w-full">
                                <label>
                                    <h5 class="tracking-wide text-[#000c] mb-1.5">Votre Email</h5>
                                    <input type="email" placeholder="billyronico412@gmail.com">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <h5 class="tracking-wide text-[#000c] mb-1.5">Objet du Mail</h5>
                                <input type="text" placeholder="Offre de stage">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <h5 class="tracking-wide text-[#000c] mb-1.5">Votre Message</h5>
                                <textarea cols="30" rows="10" placeholder="Hello world !"></textarea>
                            </label>
                        </div>
                        <button class="px-4 py-2 bg-bleu-clair rounded text-white font-bold tracking-wide w-[250px] mx-auto"
                                alt="En cours de developpement ..." disabled >
                            Envoyer le message
                        </button>
                    </form>
                </div>

            </div>

        </section>

        <br><br><br><br>

    </div>

    <button class="bg-bleu-clair fixed right-4 top-4 rounded-full w-8 h-8 md:w-12 md:h-12 text-center z-10 desktop:hidden"
            @click="afficheMenu = !afficheMenu">
        <i class="fas fa-bars text-white" v-if="!afficheMenu"></i>
        <i class="fas fa-times text-white" v-else></i>
    </button>

    <section id="menu"
             class="fixed w-[300px] h-screen bg-noir-menu top-0 transition-all duration-500 text-white desktop:left-0"
             :class="[afficheMenu ? 'left-0' : 'left-[-300px]']">
        <div class="flex flex-col justify-center items-center gap-y-4 pt-6">
            <img src="./images/pdp.jpg" alt="bitmoji"
                 class="w-28 h-28 rounded-full border border-[#fff2] border-4">
            <h2 class="font-3 text-2xl">
                Billy Ronico
            </h2>
            <ul class="flex gap-x-2">
                <li>
                    <a href="https://www.facebook.com/billy.jonconors" class="btn-reseaux-sociaux">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/billyronico/?hl=fr" class="btn-reseaux-sociaux">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="./cv.pdf" class="btn-reseaux-sociaux">
                        <i class="far fa-file-pdf"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/ronico-billy-58bb4520b/" class="btn-reseaux-sociaux">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="mt-12 ml-8 flex flex-col gap-y-8 text-[#fffa] font-medium" id="list-menu">
            <li class="align-middle">
                <a href="#" @click="idSection = 0">
                    <i class="fas fa-home text-lg" :class="{'text-bleu-clair': idSection === 0}"></i>
                    <span class="ml-3" :class="{'text-white': idSection === 0}">Accueil</span>
                </a>
            </li>
            <li>
                <a href="#a-propos" @click="idSection = 1">
                    <i class="far fa-user text-lg" :class="{'text-bleu-clair': idSection === 1}"></i>
                    <span class="ml-3" :class="{'text-white': idSection === 1}">A propos</span>
                </a>
            </li>
            <li>
                <a href="#competences" @click="idSection = 2">
                    <i class="fas fa-laptop-code text-lg" :class="{'text-bleu-clair': idSection === 2}"></i>
                    <span class="ml-3" :class="{'text-white': idSection === 2}">Compétences</span>
                </a>
            </li>
            <li>
                <a href="#portfolio" @click="idSection = 3">
                    <i class="fas fa-file-invoice text-lg" :class="{'text-bleu-clair': idSection === 3}"></i>
                    <span class="ml-3" :class="{'text-white': idSection === 3}">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#contact" @click="idSection = 4">
                    <i class="far fa-envelope text-lg" :class="{'text-bleu-clair': idSection === 4}"></i>
                    <span class="ml-3" :class="{'text-white': idSection === 4}">Contact</span>
                </a>
            </li>
        </ul>

        <img src="./images/logo-ut3.png" alt="logo-ut3"
             class="w-40 absolute bottom-4 left-1/2 transform -translate-x-1/2">
    </section>

</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="./sal/sal.js"></script>
<script src="./main.js"></script>
<script>console.log("PWA here")</script>

</body>
</html>