/* Couleur1: #DFE0E0 */
/* Couleur2: #Fc9C73 */
/* Couleur3: #3B4358 */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;  
    font-size: 19px;
}

header {
    font-family: 'Bangers', cursive;
}

nav {
    background-color: #3B4358;
}

#vitrine {
    height: 70vh;
    background-color: #3B4358;
    font-family: 'Bangers', cursive;
}

#pdp {
    border-radius: 100%;
    width: 320px;
    border: 4px solid black;
    background-color: white;
}

#img-computer {
    width: 90%;
}

#competences {
    background-color: #DFE0E0;
}