@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,900;1,700&display=swap");

/* Variable */

html {
    --color-principal: rgba(37, 99, 235, 1);
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 1536px;
    margin: auto;
}

header {
    background-image: repeating-linear-gradient( 45deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 10px, transparent 10px, transparent 11px), repeating-linear-gradient( 135deg, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    max-width: 1360px;
    margin: auto;
}

nav img {
    width: 50px;
}

nav ul {
    display: flex;
}

nav ul li a {
    display: flex;
    margin: 0px 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul li a::after {
    content: '';
    display: block;
    border: 1px solid black;
    width: 0;
    visibility: hidden;
    transition: width 0.2s ease, visibility 0.2s ease;
    margin-top: 2px;
}

nav ul li a:hover::after {
    visibility: visible;
    border: 1px solid black;
    width: 60%;
}

nav .btn-log-in {
    text-decoration: none;
    color: var(--color-principal);
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 1px solid #0004;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px #0004;
    transition: background 0.2s ease-out, color 0.2s ease-out;
}

nav .btn-log-in:hover {
    background-color: var(--color-principal);
    color: #fff;
}

#acceuil {
    margin-top: 60px;
    text-align: center;
}

#acceuil h1 {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
}

#acceuil span {
    display: block;
}

#acceuil .span-2 {
    color: var(--color-principal);
}

#acceuil p {
    margin-top: 30px;
    width: 640px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1.4px;
    margin-left: auto;
    margin-right: auto;
}

#acceuil .boutons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

#acceuil .boutons a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 1px solid #0004;
    padding: 20px 30px;
    width: 200px;
    margin: 0px 20px;
    transition: font-weight 0.2s ease-out;
}

#acceuil .boutons a:nth-child(1) {
    color: #fff;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

#acceuil .boutons a:nth-child(2) {
    color: var(--color-principal);
    background-color: #fff;
}

#action {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
}

#action .text-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#action .text-action h2 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 50px;
}

#action .text-action h3 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 40px;
    color: var(--color-principal);
}

#action .text-action p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1.4px;
    width: 440px;
    text-align: center;
}

#action .text-action a {
    margin-top: 20px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 20px 30px;
    width: 200px;
    text-align: center;
    color: #fff;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

#action .img-action {
    background-image: url('./ressources/hommeTravail.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
}


/* Media queries */

@media (max-width: 1536px) {
    .container {
        width: 1280px;
        margin: auto;
    }
    #acceuil h1 {
        font-size: 80px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
        margin: auto;
    }
    #acceuil h1 {
        font-size: 70px;
    }
    #action .text-action h2 {
        font-size: 40px;
    }
    #action .text-action h3 {
        font-size: 30px;
    }
    #action .img-action {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 40px 0px;
    }
    #action .img-action img {}
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
        margin: auto;
    }
    #acceuil h1 {
        font-size: 60px;
    }
    #action .text-action h2 {
        font-size: 30px;
    }
    #action .text-action h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
        margin: auto;
    }
    #action {
        display: flex;
        flex-direction: column-reverse;
    }
    #acceuil h1 {
        font-size: 50px;
    }
    #action .text-action h2 {
        font-size: 40px;
    }
    #action .text-action h3 {
        font-size: 30px;
    }
    #action .img-action {
        margin: 30px 0px;
    }
}

@media (max-width: 640px) {
    .container {
        width: auto;
        margin: 0px 10px;
    }
    #acceuil h1 {
        font-size: 40px;
    }
    #acceuil p {
        width: auto;
    }
    #action .text-action p {
        width: auto;
    }
    #action .text-action h2 {
        font-size: 30px;
    }
    #action .text-action h3 {
        font-size: 20px;
    }
    #action .img-action {
        margin: 20px 0px;
    }
}