%separation-section {
    margin: 50px 0px;
}

%text-titre-1 {
    font-size: $text-size-1;
    font-weight: 400;
    letter-spacing: 1.2px;
}

%text-titre-2 {
    font-size: $text-size-2;
    font-weight: 400;
    letter-spacing: 1px;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}