// Couleur principal du site
$couleur-bouton: #8A56EB;

$margin-section: 50px 0px;

$text-size-1: 40px;

$text-size-2: 25px;

$text-size-3: 20px;

$padding-button: 15px 20px;

$border-radius-button: 5px;

$font-style: linear-gradient(
    45deg,
    rgba(254, 246, 210, 0.53) 0%,
    rgba(254, 246, 210, 0.53) 14.286%,
    rgba(221, 240, 216, 0.53) 14.286%,
    rgba(221, 240, 216, 0.53) 28.572%,
    rgba(188, 233, 223, 0.53) 28.572%,
    rgba(188, 233, 223, 0.53) 42.858%,
    rgba(156, 227, 229, 0.53) 42.858%,
    rgba(156, 227, 229, 0.53) 57.144%,
    rgba(123, 220, 235, 0.53) 57.144%,
    rgba(123, 220, 235, 0.53) 71.42999999999999%,
    rgba(90, 214, 242, 0.53) 71.43%,
    rgba(90, 214, 242, 0.53) 85.71600000000001%,
    rgba(57, 207, 248, 0.53) 85.716%,
    rgba(57, 207, 248, 0.53) 100.002%
  ),
  linear-gradient(
    135deg,
    rgb(249, 149, 218) 0%,
    rgb(249, 149, 218) 12.5%,
    rgb(232, 140, 213) 12.5%,
    rgb(232, 140, 213) 25%,
    rgb(213, 134, 208) 25%,
    rgb(213, 134, 208) 37.5%,
    rgb(193, 132, 205) 37.5%,
    rgb(193, 132, 205) 50%,
    rgb(178, 130, 201) 50%,
    rgb(178, 130, 201) 62.5%,
    rgb(154, 131, 196) 62.5%,
    rgb(154, 131, 196) 75%,
    rgb(139, 127, 194) 75%,
    rgb(139, 127, 194) 87.5%,
    rgb(117, 123, 189) 87.5%,
    rgb(117, 123, 189) 100%
  );
