@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito+Sans:wght@300;400;600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}


nav {
    background: linear-gradient(#333333, #888888);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    font-family: 'Merienda One', cursive;
    list-style-type: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s all;
}

nav li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 12px 30px;
}

nav li:hover {
    background: linear-gradient(#444444, #888888);
}

@media(max-width: 600px) {
    nav li a {
        padding: 12px 15px;
        color: #FFF;
        font-size: 14px;
    }
}

#acceuil {
    background-image: url(./ressources/accueil-pic-lum-down.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#acceuil img{
    width: 180px;
    border-radius: 100%;
    margin-bottom: 50px;
}

#acceuil h1 {
    font-family: 'Merienda One', cursive;
    color: #FFF;
    font-size: 70px;
}

#acceuil h2 {
    color: #FFF;
    font-size: 30px;
}

#acceuil button {
    margin-top: 50px;
}

.btn-en-savoir-plus {
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #DE133D;
    border: 0px solid black;
    font-weight: lighter;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Merienda One', cursive;
}

@media (max-width: 700px) {

    #acceuil img{
        width: 160px;
        border-radius: 100%;
        margin-top: 80px;
        margin-bottom: 30px;
    }

    #acceuil h1 {
        font-size: 40px;
    }

    #acceuil h2 {
        font-size: 20px;
    }
}

#asymetrique h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Merienda One', cursive;
}

.asym {
    width: 400px;
    position: relative;
    margin: 150px auto;
}

.content-text {
    position: absolute;
    background-color: #444444;
    width: 500px;
}

.content-text-1, .content-text-3 {
    top: -100px;
    left: -300px;
}

.content-exact-text-2 {
    margin-left: 200px;
}

.content-text-2 {
    top: -100px;
    left: 200px;
}

.content-exact-text {
    width: 250px;
    line-height: 30px;
    color: #FFF;
    padding: 30px;
    font-weight: lighter;
}

.content-exact-text h2 {
    margin: 20px 0;
}

.content-exact-text button {
    margin: 10px 0px;
}

.asym-img {
    position: relative;
    background-size: cover;
    width: 400px;
    height: 600px;
}

.asym-img-1 {
    background-image: url(./ressources/kyoto-temple.jpg);
}

.asym-img-2 {
    background-image: url(./ressources/chateau-kyoto.jpg);
}

.asym-img-3 {
    background-image: url(./ressources/geisha.jpg);
}

@media(max-width: 1000px) {

    .asym {
        margin: 50px auto;
    }

    .content-exact-text {
        width: 80%;
        line-height: 30px;
        color: #FFF;
        padding: 30px;
        font-weight: lighter;
    }

    .content-text {
        position: relative;
        background-color: #444444;
        width: 100%
    }

    .content-text-1, .content-text-3 {
        top: 0;
        left: 0;
    }
    .content-text-2 {
        top: 0;
        left: 0;
    }

    .content-exact-text-2 {
        margin-left: 0px;
    }

}

.parallax {
    background-image: url(./ressources/parallax-large-flou.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    color: #FFF;
    font-family: 'Merienda One', cursive;
    text-align: center;
}

.parallax h2 {
    font-size: 40px;
}

.parallax p {
    margin-top: 10px;
    font-size: 16px;
}

#tarifs > h2 {
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 26px;
    padding: 20px;
}

.trait {
    border: 1px solid #BBB;
    width: 150px;
    margin: auto
}

.grid-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 30px;
    border: 0.5px solid #AAA;
    width: 297px;
    display: block;
    cursor: pointer;
    box-shadow: 7px 7px 7px #AAA;
    transition: 0.5s all;
    background-color: #EEE;
}

.card:hover {
    transform: translate(1px, -10px);
}

.card-header {
    text-align: center;
    position: relative;
    z-index: 1;
}

.type-tarifs {
    padding: 30px;
    font-weight: bold;
    z-index: 1;
    font-size: 30px;
    clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
}

.prix-tarifs {
    padding: 18px;
    font-size: 26px;
    background-color: #EEE;
    border-bottom: 0.1px solid #AAA;
}



.card1 .type-tarifs {
    background-color: #FEAFBF;
}

.card2 .type-tarifs {
    background-color: #FF4F75;
}

.card3 .type-tarifs {
    background-color: #FF0034;
}

.card-body li {
    list-style: none;
    padding: 12px;
    border-bottom: 0.1px solid #AAA;
}

.card-footer {
    text-align: center;
    padding: 20px;
}

.card-body li:nth-child(even) {
    background-color: #EEE;
}

.card-body li:nth-child(odd) {
    background-color: #DDD;
}

.card-footer {
    background-color: #DDD;
}

.card-footer button{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #AAA;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}   

#contact h2 {
    font-family: 'Merienda One', cursive;
    text-align: center;
    font-size: 30px;
}

#contact .formulaire {
    width: 900px;
    margin: auto;
}

@media (max-width: 950px) {
    #contact .formulaire {
        width: 600px;
    }
}

@media (max-width: 650px) {
    #contact .formulaire {
        width: 300px;
    }
}

.form {
    margin: 50px 0px;
}

#contact .formulaire span{
    display: block;
    font-weight: lighter;
    color: #444444;
    font-size: 20px;
}

#contact .formulaire input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #444444;
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10px;
    padding: 5px;
    transition: 0.s all;
}

#contact .formulaire input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #FF4F75;;
    outline: none;
}

#contact .formulaire textarea {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
}

#contact .formulaire textarea:focus {
    outline: 2px solid #FF4F75;
    border: none;
}

#contact button {
    border-radius: 20px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid #888;
    color: #444;
    background-color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s all;
    font-family: 'Merienda One', cursive;
}

#contact button:hover {
    background-color: #EEE;
    transform: translateX(2px);
}

#contact {
    margin: 30px 0px 150px;
}